<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{site.title}} | {{page.title}}</title>
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    {% include header.html %}
        {{content}}
    {% include footer.html %}
    
    <script src="https://kit.fontawesome.com/b7363cdcf6.js" crossorigin="anonymous"></script>
</body>
</html>
